<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Decks</title>
</head>
<body>
  <style>
    body{
      color: white;
      display: flex;
      justify-content: center;
      font-family: 'Press Start 2P', cursive;
      background-size: 50%;
    }
 
    #main{
      position: fixed;
      justify-content: center;
      background: url("https://i.ibb.co/kys0P8q/evenbetterbetter.png") ;
      width: 960px;
      height: 540px;
     background-size: cover;
    }
    #container{
      position: fixed;
      margin-top: 29px;
      margin-left: 30px;
    }
    h3{
      color: black;
    }
    h2{
      margin-top: 25px;
    }
    #editBtn{
      position: fixed;
      font-family: 'Press Start 2P', cursive;
      height: 30px;
      margin-top: -22.8px;
      margin-left: 235px;
      color: rgb(198, 198, 198);
      background-color: transparent;
      border:none ;
    }
    #editBtn:hover{
      cursor: pointer;
 
    }
    #delete{
      position: fixed;
      font-family: 'Press Start 2P', cursive;
      height: 30px;
      margin-top: -22.8px;
      margin-left: 280px;
      color: rgb(255, 32, 32);
      background-color: transparent;
      border:none ;
    }
    #delete:hover{
      cursor: pointer;
      transform: scale(1.01);
    }
    p{
      color: white;
    }
    p:hover{
      color: rgb(175, 175, 175);
      transform: scale(1.01);
    }
    #nav {
      position: fixed;
      margin-left: 825px;
      margin-top: 25px;

    }
    #backToHome{
      height: 110px;
      background-color: transparent;
      color: transparent;
      border: none;
    }
    #backToDecks{
      height: 80px;
      background-color: transparent;
      color: transparent;
      border: none;
    }
    #backToCards{
      height: 130px;
      background-color: transparent;
      color: transparent;
      border: none;
    }
    button:hover{
      cursor: pointer;
      transform: scale(1.01);
    
    }
    #sub {
      border: none;
      background-color: transparent;
      color: white;
      font-family: 'Press Start 2P', cursive;
      margin-left: 350px;
    }
    #sub:hover {
      cursor: pointer;
      transform: scale(1.01);
      color: rgb(175, 175, 175);

    }
    

  </style>
  <div id="main">
    <div id="container">

    <article>
     
      <h1>{{ deck.name | upcase }} </h1> 

      <a id="editBtn" href="/decks/{{ deck._id }}/edit"><button id="editBtn">Edit |</button></a>

      <form id ="delete"action="/decks/{{ deck._id }}?_method=DELETE" method="POST">
        <input id="delete" type="submit" value="Delete" />
      </form>


      <h3>Deck Type: {{ deck.genre }}</h3>
    
     <h2>Cards In Deck:</h2>
      {%for cardCol in deck.cardCol%}
      <article >
        <a href="/cards/{{cardCol._id}}">
          <p>{{cardCol.name}}</p>
          </a>
      {%endfor%}

      </article>

     
  
    <h2>Cards In Inventory:</h2>
     
 
    
      <form id="add-card-to-deck" action='/decks/{{deck._id}}' method="POST">
        {% for card in allCards %}  
        <input type="checkbox" name="cardId" value="{{card._id}}">
              
            {{card.name}}
             {% endfor %}
          

          </input>
          <br>
          <br>

      
       <button id="sub" type="submit">ADD TO DECK</button>
      </form>
    
  </article>

      
 </div> 
     
</div>
<div id="nav">
<a id="backToHome" href="/home/"><button id="backToHome">Back to Home</button></a>
<br>
<br>

<a id="backToDecks" href="/decks/"><button id="backToDecks">Back to Main</button></a> </br>
<br>


<a id="backToCards" href="/cards/"><button id="backToCards">Back to Main</button></a> </br>


 </div> 
     
  

</body>
</html>
     